@section css {
    <link href="@Url.Content("~/css/PSD7.css")" rel="stylesheet" />
}
@section Scripts {
    <script src="@Url.Content("~/js/PSD7.js")"></script>
}

<div class="intro-slider slide1">
    <div>IF IT SWIM WE HAVE IT</div>
    <div class="alt_slide"> EAT. DRINK. LOUNGE. </div>
</div>
<div class="intro-slider slide2">
    <div>FRESH FAST TASTY</div>
    <div class="alt_slide">  DRINK. EAT. LOUNGE. </div>
</div>
<div class="intro-slider slide3">
    <div>FRESH CATCHES DAILY</div>
    <div class="alt_slide">  DRINK. LOUNGE. EAT. </div>
</div>
<div class="warp_infor">
    <div class="infor_fishhouse">
        <div class="infor_background">
        </div>
        <div class="warp_greeting">
            <div class="greeting">
                HELLO AND WELCOME
            </div>
            <div class="infor_content row b4:jumbotron">
                <div class=col-lg-6>
                    <div class="content pos1">
                        <div>
                            <h2>Fish House Philosophy</h2>
                            <span>For the best in food, service, value and atmosphere, you can’t choose our restaurant. We guarantee you the freshest seafood, delivered daily to our dock, prepared to your liking.</span>
                        </div>
                    </div>
                    <div class="content pos2">
                        <div class="warp_content">
                            <h2>About Our Location</h2>
                            <span>All our locations are providing a wonderful open-air venue to enjoy meal all year round, we offer both indoor and alfresco dining and our focus is on serving the absolute freshest fish and seafood.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 contact">
                    <div>
                        <h3>PHONE</h3>
                        800-123-1234
                    </div>
                    <div>
                        <h3>LOCATION</h3>
                        123, New Lenox,</br>
                        Chicago, IL 60606
                    </div>
                    <div>
                        <h3>HOURS</h3>
                        <span>M-F</span> 11am-2am</br>
                        <span>Sa</span> 10am-3am</br>
                        <span>Su</span> 10am-2am
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="warp_choosenmenu">
    <div class="choosen">
        <img style='height: 100%; width: 100%; object-fit: contain' src="~/images/01-featured.jpg">
        <div>
            <span>DAILY CATCH</span>
        </div>
    </div>

    <div class="choosen">
        <img style='height: 100%; width: 100%; object-fit: contain' src="~/images/02-featured.jpg">
        <div>
            <span>FRESH SEAFOOD</span>
        </div>

    </div>
    <div class="choosen">
        <img style='height: 100%; width: 100%; object-fit: contain' src="~/images/03-featured.jpg">
        <div>
            <span>BEST WINE</span>
        </div>
    </div>
</div>
<div class="warp_whatnew bg">
    <div class="whatnew">WHAT'S NEW</div>
    <div class="warp_card">
        <div class="card">
            <img class="card-img-top" src="~/images/image02.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">May 19, 2016</h4>
                <h3 class="card-text">Crab Day</h3>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit met, conteturing elit. Phasellus pellen tesque osure risus lacinia tristique usce sed massa</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/image01.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">May 19, 2016</h4>
                <h3 class="card-text">Craft Beer Week</h3>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit met, conteturing elit. Phasellus pellen tesque osure risus lacinia tristique usce sed massa</small></p>
            </div>
        </div>
        <div class="card card1">
            <img class="card-img-top" src="~/images/image03.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">May 19, 2016</h4>
                <h3 class="card-text">Dolce Vita!</h3>
                <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit met, conteturing elit. Phasellus pellen tesque osure risus lacinia tristique usce sed massa</small></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="warp_gallery bg">
    <div class="gallery ">
        <div class="gallery_menu">
            <div class="gallery_img gallery_img--cus1 img2">
            </div>
            <div class="gallery_img gallery_img--cus1 img3">
            </div>
            <div class="gallery_img gallery_img--cus1 img4">
            </div>
            <div class="gallery_img gallery_img--cus1 img5">
            </div>
        </div>
        <div class="gallery_menu gallery_img img1">
        </div>
    </div>
    <div class="warp_fullmenu">
        <div class="booktable fullmenu">
            <a asp-action="Ourmenu" asp-controller="Home">FULL MENU</a>
        </div>
    </div>
</div>
</div>
<div class="warp_whatnew bg">
    <div class="whatnew">OUR PROMISE</div>
    <div class="warp_card">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Cook Good</h4>
                <h3 class="card-text">
                    We cook seafood like
                    rock stars, truly
                </h3>
                <p class="card-text"><small class="text-muted">We have the best chef and his team. We can prepare a specific meal by request, cooked to taste with our fresh, local seafood</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Cook Quick</h4>
                <h3 class="card-text">
                    We guess you don’t like
                    to wait for too long
                </h3>
                <p class="card-text"><small class="text-muted">We cook too hot and too fast. We like fire, we cook fast, tasty and healthy! Our professional team never let you wait for your order</small></p>
            </div>
        </div>
        <div class="card card1">
            <div class="card-block">
                <h4 class="card-title">Sommelier</h4>
                <h3 class="card-text">
                    We know everything
                    about wines
                </h3>
                <p class="card-text">
                    <small class="text-muted">
                        We have a great bar selection and friendly bar tenders. At our pub, we proudly offer our guests to taste our best types of wine
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="warp_service">
    <div class="chef_service service">
        <div class="gallery_img gallery_img--cus2 img6">

        </div>
        <div class="gallery_img gallery_img--cus2 img7">
            <div class="card-block">
                <h4 class="card-title">
                    Chef in House Explains
                </h4>
                <h3 class="card-text">Quality to Die For</h3>
                <p class="card-text">
                    <small class="text-muted">
                        Meet our chef! Today, he is a culinary talent, passion for fresh seafood, and dedication to all aspects of running a restaurant serve him well as Executive Chef of Seafood Restaurant, a role he earned after many successful years
                    </small>
                </p>
                <div class="booktable fullmenu">
                    MEET THE CHEF
                </div>
            </div>
        </div>
    </div>
    <div class="cus_service service">
        <div class="gallery_img gallery_img--cus2 img7 ">
            <div class="card-block card--custom1">
                <h4 class="card-title">
                    Feel Yourself as a Valued Guest
                </h4>
                <h3 class="card-text">
                    Cozy Atmosphere
                </h3>
                <p class="card-text">
                    <small class="text-muted">
                        We guarantee you the best seafood, delivered daily to our dock, prepared to your liking, our focus is on serving the absolute freshest fish and seafood. We offer a wonderful open-air venue to relax and enjoy the best view of sunset
                    </small>
                </p>
                <div class="booktable fullmenu">
                    MORE PHOTO
                </div>
            </div>
        </div>
        <div class="gallery_img gallery_img--cus2 img8">
        </div>
    </div>
</div>
<div class="warp_whatnew  warp_whatnew--custtom1 bg">
    <div class="whatnew">
        HAPPY GUESTS SAY
    </div>
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <p>
                        This is a delightful restaurant serving both locally caught and imported sea-foods. The service was fast and the food deliciously prepared as you request it. Plenty to watch on the sound and on the walkways, relaxing way to eat dinner. They also sell a very large variety of fresh sea foods. We highly recommend this restaurant.
                    </p>
                    <img class="d-block w-100" src="~/images/avatar.jpg" alt="First slide">
                </div>
                <div class="item">
                    <p>
                        Great food! Fresh, quick, friendly, delicious, affordable! Very flexible with orders. Great service! Asked for things from the runners, and they didn’t miss a beat… prompt, courteous, and polite. Great portions!  If you want great seafood though, this place will not disappoint you. I’m glad we visited here. Definitely recommend.
                    </p>
                    <img class="d-block w-100" src="~/images/avatar2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <p>
                        Great food! Fresh, quick, friendly, delicious, affordable! Very flexible with orders. Great service! Asked for things from the runners, and they didn’t miss a beat… prompt, courteous, and polite. Great portions!  If you want great seafood though, this place will not disappoint you. I’m glad we visited here. Definitely recommend.
                    </p>

                    <img class="d-block w-100" src="~/images/avatar3.jpg" alt="Third slide">
                </div>
            </div>
            <div class="warp_button">
                <button class="btn" href="#carouselExampleControls" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="carousel-control-next btn" href="#carouselExampleControls" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="warp_whatnew  warp_whatnew--custtom2 bg">
    <div class="whatnew">
        INSURANCENEWSTYLE2016
    </div>
    <div class="humanlarity">
        <div class="family_img family_img1"></div>
        <div class="family_img family_img2"></div>
        <div class="family_img family_img3"></div>
        <div class="family_img family_img4"></div>
        <div class="family_img family_img5"></div>
        <div class="family_img family_img6"></div>
    </div>
    <div class="whatnew">
        <div class="warp_fullmenu">
            <div class="booktable fullmenu">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                FOLLOW ON INSTAGRAM
            </div>
        </div>
    </div>
    <div class="conclusion">
        <div class="element">
            <h3>
                A FEW MORE WORDS
            </h3>
            We invite you to enjoy our restaurant's tremendously delicious recipes made from scratch every day especially for you. Enjoy a delicious breakfast, lunch or dinner at our delightful place.

        </div>
        <div class="element">
            <h3>
                QUICK LINKS
            </h3>
            <ul>
                <li>
                    Menu
                </li>
                <li>
                    Location
                </li>
                <li>
                    About
                </li>
                <li>
                    Contacts
                </li>
            </ul>
        </div>
        <div class="element">
            <h3>
                STAY IN TOUCH
            </h3>
            <div class="email">
                Please, enter your email adress
                <span>
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="socialmedia">
        <i class="fa fa-tripadvisor fa--cus1"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram fa--cus1"></i>
    </div>
    <div class="copyright">
        UI-Design © 2019 10 16 Tác Giả : Nhóm UI Design Thứ 6
        <br />
        Thành Viên: Vũ Trí Hùng Đặng Trần Toàn
        <br />
        Phạm Công Sơn Phan Văn Tuấn Lê Quang Vũ
    </div>
</div>

